* {
  border: 0px solid black;
  font-family: "Consolas", "Lucida Console", monospace, "Tahoma", sans-serif;
}
body {
  margin: 0;
}
#preview * {
  font-family: sans-serif;
}
/*
styles color values taken from
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript
*/

/*
!important keyword needed to override the styling
Prism.js puts on elements it produces.
*/
code {
  display: inline-block;
  background-color: #2d2d2d !important;
  color: #999 !important;
  padding: 0.5em !important;
  border-radius: 0.5em !important;
}
pre > code {
  display: block;
}
hr {
  border: none;
  border-top: medium solid;
}
