:root {
    --sans-serif: Tahoma, Verdana, Arial, sans-serif;
    --mono: "Lucida Console", Consolas, monospace;
}
* {
    border: 0px solid black;
    font-family: "Consolas", "Lucida Console", monospace, "Tahoma", sans-serif;
}

body {
    margin: 0;
}
/* ---------------------- #app ---------------------- */
#app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto minmax(auto, 5fr) 5rem;
    grid-template-columns: 2fr 3fr;

    /* hide fcc breadcrum menu */
    z-index: 9999999 !important;

    padding: 0 4rem;
}
/* ---------------------- #header ---------------------- */
#header {
    padding: 4rem 0;
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: var(--sans-serif);
}

/* ---------------------- editor pane ---------------------- */
#edit {
    grid-column: 1;
    resize: none;
    display: grid;
    grid-template-rows: auto 1fr;
    align-content: stretch;
    align-items: stretch;

    border-top: medium solid transparent;
    /* border-right: medium dashed lightblue; */
    /* border-left: medium solid lightgray; */

    /* border-bottom: medium solid lightgray; */
    border-top-left-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;

    box-shadow: 1px 1px 1rem 1px navy inset;
}
#edit-header {
    text-align: center;

    margin: 0;
    /* padding: 1rem; */
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: medium inset rgba(0, 0, 128, 0.25);
    color: rgba(0, 0, 128, 0.5);
    font-family: var(--sans-serif);
}
#editor {
    resize: none;
    padding: 1rem 1rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
    /* border-radius: 1rem; */
    /* border-top-left-radius: 1rem; */
    border-bottom-left-radius: 2rem;
    /* box-shadow: 1px 1px 5px 10px navajowhite; */
}
#editor:focus-visible {
    outline: none;
}

/* ---------------------- preview pane ---------------------- */
#preview-div {
    border-top: medium solid transparent;

    border-top-right-radius: 2rem;

    box-shadow: 1px 1px 2rem 1px darkgray;
}
#preview-header {
    text-align: center;

    margin: 0;
    padding: 1rem;

    /* border-bottom: medium solid rgba(211, 211, 211, 0.5); */
    font-family: var(--sans-serif);
}
#preview {
    overflow-x: scroll;
    padding-left: 2rem;
    box-shadow: 1px 1px 2rem 1px darkgray;
}
#preview * {
    font-family: var(--sans-serif);
}

/*
styles color values taken from
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript

!important keyword needed to override the styling
Prism.js puts on elements it produces.
*/
#preview code {
    display: inline-block;
    background-color: #2d2d2d !important;
    color: #999 !important;
    padding: 0.5em !important;
    border-radius: 0.5em !important;
    font-family: var(--mono);
}
#preview pre > code {
    display: block;
}

/* markdown `---` translated to <hr/> */
#preview hr {
    border: none;
    border-top: medium solid;
}

/* ---------------------- footer ---------------------- */
#footer {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: var(--sans-serif);
}

/* ---------------------- mobile views ---------------------- */
@media only screen and (max-width: 767px) {
    #app {
        grid-template-columns: 1fr;
        grid-template-rows: auto 50vh 1fr 5rem;
        gap: 2rem 0;
        padding: 0 4rem;
    }
    #app > h1 {
        grid-column: 1;
    }
    #edit {
        grid-column: 1;
        grid-row: 2;
        box-shadow: -0em -1em 2em -0.5em darkgray;
        border: none;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

        border-bottom: medium inset rgba(0, 0, 128, 0.25);
    }
    #edit-header {
    }
    #editor {
        margin-right: 0;
        margin-bottom: 0;
    }
    #preview-div {
        box-shadow: -0em 1em 2em -0.1em darkgray;
        border: none;
        border-top-left-radius: 2rem;
    }
    #preview {
        grid-column: 1;
        grid-row: 3;
    }
    #footer {
        grid-column: 1;
        grid-row: 4;
    }
}
