.button {
    cursor: pointer;
    display: grid;

    background-repeat: no-repeat;
    background-position: center top;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0 0.5rem;
    align-items: center;
    justify-items: center;

    padding: 0.5rem 0.5rem;

    transition: all var(--transition);
    border: none;
}
.global-button-hover {
    filter: invert(58%) sepia(30%) saturate(7126%) hue-rotate(160deg)
        brightness(93%) contrast(101%);
}
.button:hover {
    --color: #00008080;
    /* border-left: medium solid var(--color);
    border-right: medium solid var(--color); */
    color: var(--color);
}
.button-image {
    object-fit: contain;
    object-position: center;

    width: 1rem;
    height: 1rem;
    transition: all var(--transition);
}
.button-text {
    font-family: var(--sans-serif);
    font-size: 0.85rem;
    font-weight: bolder;
}
.button-icons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}
