:root {
    /*  edit border radius*/
    --border-radius: 1rem;
    --padding-top: 1rem;
    --margin-right: 1rem;
    --margin-bottom: 1rem;
}
#edit {
    grid-column: 1;
    resize: none;
    display: grid;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "top top"
        "controls controls"
        "count textarea";

    align-content: stretch;
    align-items: stretch;

    border-top: medium solid transparent;
    border-top-left-radius: var(--border-radius) !important;
    border-bottom-left-radius: var(--border-radius) !important;

    box-shadow: 1px 0 0.5rem 0 navy inset;
}
#edit-top {
    grid-area: top;
    border-top-left-radius: var(--border-radius) !important;
    /* border-bottom: medium inset rgba(0, 0, 128, 0.175); */

    border-image-slice: 1;
    box-shadow: 1px 0 0.5rem -0.25rem navy inset;
}
#edit-header {
    text-align: center;

    margin: 0;
    /* padding: 1rem; */
    padding: 1rem 0;
    /* border-bottom: medium inset rgba(0, 0, 128, 0.25); */
    color: rgba(0, 0, 128, 0.5);
    font-family: var(--sans-serif);
}
#editor {
    grid-area: textarea;
    resize: none;
    padding: var(--padding-top) var(--padding-top);
    margin: 0 var(--margin-right);
    margin-bottom: var(--margin-bottom);
    border-bottom-left-radius: 2rem;
    border: none;
}
#editor:focus-visible {
    outline: none;
}
/* line numbers */
#edit-count {
    grid-area: count;
    background-color: aliceblue;
    color: black;
}
@media only screen and (max-width: 767px) {
    #edit {
        grid-column: 1;
        grid-row: 2;
        box-shadow: -0em -1em 2em -0.5em darkgray;
        border: none;
        border-top-right-radius: var(--border-radius);
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

        border-bottom: medium inset rgba(0, 0, 128, 0.25);
    }
    #edit-top {
        border-top-right-radius: var(--border-radius);
        box-shadow: unset;
    }
    #edit-header {
    }
    #editor {
        margin-right: 0;
        margin-bottom: 0;
        box-shadow: 0 0.25rem 1rem 0 darkgray;
        border-bottom-left-radius: unset;
        margin-left: unset;
    }
}
