:root {
    --padding-top: 1rem;
    --padding-right-left: 0.5rem;
    --bg: aliceblue;
}
* {
    box-sizing: border-box;
}
#count {
    grid-area: count;
    overflow-y: hidden;
    padding-top: var(--padding-top);
    font-weight: normal;
    background-color: var(--bg);

    padding-left: var(--padding-right-left);
    padding-right: var(--padding-right-left);
}
.count-li {
    display: block;
    text-align: right;
}
@media only screen and (max-width: 767px) {
    #count {
        box-shadow: 0 0.25rem 1rem 0 darkgray;
    }
}
