:root {
    --padding-top: 1rem;
}
* {
    box-sizing: border-box;
}
#count {
    overflow-y: scroll;
    padding-top: var(--padding-top);
    font-weight: normal;
}
.count-li {
    display: block;
}
